@import "tailwindcss";

:root {
  --dark: #030415;
  --gradient-1: rgba(10 11 37 / 0.5);
  --gradient-2: rgba(3 3 10 / 0.9);
  --pink: #da227b;
  --red: #ff003c;
  --yellow: #f2e205;
  --blue: #445ef2;
  --purple: #02020e;
  --font: #fff;
  --dark-font: #03030a;
}

@theme inline {
  --color-dark: var(--dark);
  --color-gradient-1: var(--gradient-1);
  --color-gradient-2: var(--gradient-2);
  --color-pink: var(--pink);
  --color-red: var(--red);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-font: var(--font);
  --color-dark-font: var(--dark-font);
}

body {
  background: #000 url("/images/bg-compressed.png") no-repeat fixed center;
  background-size: cover;
}

.blue_gradient {
  @apply bg-gradient-to-r from-purple-500 via-blue-500 to-cyan-400 bg-clip-text text-transparent;
}
